body {
    background-color: lightgrey;
}

.header {
    display: flex;
    align-items: center;
}

#profilePhoto {
    width: 10%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1%;
    margin-left: 2%;
}

.banners {
    margin-left: 2%;
}

.calendarContainer {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.calendarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


#prevMonth, #nextMonth {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#currentMonth {
    margin: 0 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar div {
    padding: 30%;
    background-color: darkgray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.dayPlan {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    z-index: 10;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.planHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planContent {
    margin-top: 20px;
}

#addWorkout {
    background-color: darkgray;
    cursor: pointer;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

#addWorkout:hover {
    background-color: gray;
}

.categories, .subcategories {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categoryContainer, .workoutContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90%;
    background-color: white;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3%;
}

.categories, .workouts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categories div, .workouts div {
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.categories div:hover, .workouts div:hover {
    background-color: gray;
}

.dimmed {
    position: relative;
    opacity: 0.5;
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}